@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  /* පිරිසිදු සුදු පසුබිම */
  color: #0f172a;
  /* තද නිල්/කළු අකුරු - කළු පාටට වඩා ඇසට හොඳයි */
}